{:source-paths ["src" "test" "../examples"]
 :dependencies [[reagent       "1.2.0"]
                [metosin/malli "0.13.0"]]

 :builds
 {:node-test
  {:target    :node-test
   :output-to "out/node-test.js"
   :ns-regexp "cljs-test$"
   :compiler-options {:warnings {:redef false}}}

  :browser-test
  {:target    :browser-test
   :ns-regexp "-cljs-test$"
   :test-dir  "out/browser-test"
   :runner-ns shadow.test.browser
   :devtools  {:http-port 8021
               :http-root "out/browser-test"}}}}
