{:deps {day8/re-frame2-resources {:local/root "<HOME>/code/re-frame2/implementation/resources"} day8/re-frame2-http {:local/root "<HOME>/code/re-frame2/implementation/http"} day8/re-frame2-schemas {:local/root "<HOME>/code/re-frame2/implementation/schemas"}}}
